*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    padding: 20px 10%;
    overflow: visible;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 125px;
    cursor: pointer;
}

nav .menu-icon {
    width: 75px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    margin-right: 150px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    position: relative;
    padding: 10px;
}

nav ul li a::before{
    content: '';
    width: 100%;
    height: 0px;
    background: #be5757;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: height 0.5s;
}

nav ul li a:hover::before{
    height: 115px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #ffffff;
    background-color: #be5757;
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content {
    margin-top: 10%;
    max-width: 600px;
}

.content h1 {
    font-size: 70px;
    color: #222;
}

.content p {
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}
.content .btn {
    padding: 15px 80px;
    font-size: 15px;
    animation-delay: 1s;
}

.btn:hover {
    border-top-right-radius: 30px;
}

.feature-img {
    width: 1100px;
    position: absolute;
    bottom: 0;
    right: 10%;
    padding-left: 250px;
    height: 800px;
}

.feature-img.animation {
    animation-delay: 1.5s;
}

.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.left-col, .right-col {
    flex-basis: 50%;
    height: 100vh;
    position: relative;
}

.content2 {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-300%);
    
}

.content2 h1 {
   font-size: 60px;
   line-height: 70px;
   margin: 15px 0; 
   color: #222;
}

.content2 p {
    color: #333;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 50px;
}

.content2 a {
    width: 200px;
    border: none;
    background: #e45f5a;
    box-shadow: 0px 10px 10px 1px rgba(219, 219, 219, 0.5);
    padding: 25px 0;
    color: #fff;
    outline: none;
    font-size: 12px;
    cursor: pointer;
}

.slider {
    width: 100%;
    height: 60%;
    display: flex;
    transform: translateY(-145%);
}

.slider img {
    width: 100%;
}

.slider-content {
    width: 100%;
    height: 40%;
    padding-top: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    transform: translateY(-215%);
    
}

.slider-content h2 {
    font-size: 26px;
    font-weight: 100;

}

.slider-content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

hr {
    border: none;
    width: 270px;
    height: 1px;
    background: #e45f5a;
    margin: 20px 0 30px;
}

.controller {
    width: 120px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controller img {
    width: 35px;
    cursor: pointer;
}

.vertical-line {
    width: 2px;
    height: 30px;
    background-color: #e45f5a;
}

.title {
    text-align: center;
    margin: 40px auto 30px;
}

.flip-card{
    width: 300px;
    height: 450px;
}

.flip-card-back {
    background-color: #720606;
    color: #fff;
    transform: rotateY(180deg);
    z-index: 1;
}

.flip-card-back .back-header{
    height: 45%;
    text-align: center;
}

.flip-card-back, .back-header img {
    width: 50%;
    margin-top: 20px;
}

.flip-card-inner {
    position: relative;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-back, .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;   
    backface-visibility: hidden
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back .back-footer {
    height: 55%;
    padding: 0 15px;
}

.back-footer a {
    text-decoration: none;
    width: 120px;
    display: inline-block;
    text-align: center;
    padding: 7px 5px;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 30px;
    transition: 0.5;
}

.back-footer a:hover {
    background-color: #000;
    border: 1px solid #000;
}

.container {
    display: flex;
    gap: 350px;
   
}

button {
    width: 200px;
    border: none;
    background: #e45f5a;
    box-shadow: 0px 10px 10px 1px rgba(219, 219, 219, 0.5);
    padding: 25px 0;
    color: #fff;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.animation2 {
    opacity: 0;
    transform: translateX(30px);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.left-col.animation{
    animation-delay: 0.5s;
}

.right-col.animation {
    animation-delay: 1s;
}

.container.animation2.elso{
    animation-delay: 0.5s;
}

.container.animation2.masodik {
    animation-delay: 1s;
}

.masodik {
    height: 100vh;
    overflow-y: auto;
}